@font-face {
    font-family: 'MyFont';
    src: url(./font/GenEiChikugoMin2-R.ttf) format('truetype');
}
@font-face {
    font-family: 'SerifuYou';
    src: url(./font/logotypejp_corpmin.ttf) format('truetype');
}


html { font-size: 62.5%; }/* font-sizeは16pxの62.5%の10px */
@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    html { font-size: 62.5%; }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    html { font-size: 50%; }
}

@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
    html { font-size: 50%; }
}
/* main css */
body {
    background-color: #000;
    height: 100%;
    margin: 0 auto;
    font-family: 'MyFont', sans-serif;
    font-size: 1.6rem;
}
section{
    scroll-snap-align: center;
    height: 100vh;
}
.hide {
    display: none;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadimg{
    width: 25rem;
    height: auto;
}

/* コンテンツ表示 */
.fadeInTrigger{
	opacity: 0;
}

/* 背景固定 */
.wrap-bg-sp {
    position: relative;
}
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg .inner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: block;
    position: sticky;
    top: 0;
}

/* 背景画像 */
.inner.cd-bg-0 {
    background: url('./img/ライブ画像.jpg')no-repeat center;
}

.area {
    /* width: 100%; */
    /* margin: 0 auto; */
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.contents {
    width: 80vw;
    height: 80vh;
    min-height: 500px;
    margin: 20vw auto;
    background-color: #00000026;
    position: relative;
    overflow: hidden;

    text-align: center;
    /* 中身の要素を中央に */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ラベル部分 左上に表示 */
.contents.profile::before {
    content: "";
    top: 0;
    left: 0;
    border-bottom: 11rem solid transparent;
    border-left: 40rem solid #c1274898;
    /* ラベルの色はここで変更 */
    position: absolute;
    z-index: 100;
}

.contents.profile::after {
    content: "PROFILE";
    display: block;
    top: 3rem;
    left: 3rem;
    color: #fff;
    /* 文字色はここで変更 */
    font-size: 5.6rem;
    position: absolute;
    z-index: 101;
}

/* ラベル部分 左上に表示 */
.contents.newrelease::before {
    content: "";
    top: 0;
    right: 0;
    border-bottom: 11rem solid transparent;
    border-right: 40rem solid #B330FF98;
    /* ラベルの色はここで変更 */
    position: absolute;
    z-index: 100;
}

.contents.newrelease::after {
    content: "NEW RELEASE";
    display: block;
    top: 3rem;
    right: 3rem;
    color: #fff;
    /* 文字色はここで変更 */
    font-size: 5.6rem;
    position: absolute;
    z-index: 101;
}

/* ラベル部分 左上に表示 */
.contents.trailer::before {
    content: "";
    top: 0;
    left: 0;
    border-bottom: 11rem solid transparent;
    border-left: 40rem solid #12FF3A98;
    /* ラベルの色はここで変更 */
    position: absolute;
    z-index: 100;
}

.contents.trailer::after {
    content: "TRAILER";
    display: block;
    top: 3rem;
    left: 3rem;
    color: #fff;
    /* 文字色はここで変更 */
    font-size: 5.6rem;
    position: absolute;
    z-index: 101;
}

/* ラベル部分 左上に表示 */
.contents.livevideo::before {
    content: "";
    top: 0;
    right: 0;
    border-bottom: 11rem solid transparent;
    border-right: 40rem solid #FFD40098;
    /* ラベルの色はここで変更 */
    position: absolute;
    z-index: 100;
}

.contents.livevideo::after {
    content: "LIVE VIDEO";
    display: block;
    top: 3rem;
    right: 3rem;
    color: #fff;
    /* 文字色はここで変更 */
    font-size: 5.6rem;
    position: absolute;
    z-index: 101;
}
@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .contents {
        height: fit-content;
    }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    .area {scroll-snap-type:none;}
    .contents {
        width: 80vw;
        height: fit-content;
        margin: 20vw auto;
        background-color: #00000026;
        position: relative;
        overflow: hidden;
    
        text-align: center;
        /* 中身の要素を中央に */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
}

/* 00:メインビジュアル */
.main_visual{
    width: 100%;
    height: 100%;
    min-height: 600px;
    margin: 0 auto;

    background-image: url('./img/00_後.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.main_visual .main_logo{
    width: 100%;
    height: 100%;
    background-image: url('./img/00_前.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .main_visual{
        min-height: 600px;
        background-image: url('./img/00_後_ipad.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .main_visual .main_logo{    
        background-image: url('./img/00_前_ipad.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    .main_visual{
        min-height: 600px;
        background-image: url('./img/00_後_926x428.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .main_visual .main_logo{    
        background-image: url('./img/00_前_926x428.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
    .main_visual{
        min-height: 500px;
        background-image: url('./img/00_後_667x375.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .main_visual .main_logo{    
        background-image: url('./img/00_前_667x375.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

/* 01:プロフィール */
    .profile .accordion_area {
    /* display:none; */
    max-width: 1024px;
    width: 75vw;
    height: 55vh;
    min-height: 275px;
    list-style: none;
    overflow: hidden;
    /* background-color: rgb(113, 113, 113); */
    margin-top: 15vh;
    padding-top: 5vh;
    padding-left: 0px;
  }

  .profile .accordion_empty{
    width: 2%;
    height: 50vh;
    min-height: 250px;
    float: left;
    background-color: transparent;
  }

  .profile .accordion_one{cursor: pointer;}
  .profile .accordion_one .accordion_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5%;
    height: 50vh;
    min-height: 250px;
    float: left;
    padding: 0;

    background-image: url('./img/PC1_BU_グレー.png');
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #8080809c;
    color: #C23131;
    text-shadow:#2f2f2f 0 0 1rem;

    font-size: 2.6rem;

    position: relative;
    z-index: +1;
    transition-duration: 0.2s;
  }
   .profile .accordion_one:nth-of-type(2) .accordion_header {
    color: #B330FF;
    background-image: url('./img/PC2_BU_グレー.png');
  }
   .profile .accordion_one:nth-of-type(3) .accordion_header {
    color: #22e111;
    background-image: url('./img/PC3_BU_グレー.png');
  }
  .profile .accordion_one:nth-of-type(4) .accordion_header {
    color: #e5b802;
    background-image: url('./img/PC4_BU_グレー.png');
    background-position: left 20%;
  }
   .profile .accordion_one .accordion_header:hover,.profile .accordion_one .accordion_inner:hover {
    opacity: .8;
  }

  .profile .accordion_one .accordion_header.open {
    background-image: none;
    text-shadow:#ffffff 0 0 1rem;
  }
  .profile .accordion_one:nth-of-type(3) .accordion_header.open {
    text-shadow:#2f2f2f 0 0 1rem;
  }
  .profile .accordion_one:nth-of-type(4) .accordion_header.open {
    text-shadow:#2f2f2f 0 0 1rem;
  }
  
  .profile .accordion_one .accordion_header.close{
    width: 9%;
    background-size: 300%;
    background-position: 20% center;
  }
  .profile .accordion_one:nth-of-type(2) .accordion_header.close{
    background-position: 20% center;
  }
  .profile .accordion_one:nth-of-type(3) .accordion_header.close{
    background-position: 40% center;
  }
  .profile .accordion_one:nth-of-type(4) .accordion_header.close{
    background-position: 20% 20%;
  }

  .profile .accordion_one .header_inner::before{
    content: "MAYA";
    position: absolute;
    font-size: 6.5rem;
    font-family: 'Cinzel', 'MyFont';

    transform-origin:left 65%;
    transform:rotate(90deg);
    left: 0;
    top: -22%;
}
.profile .accordion_one:nth-of-type(2) .header_inner::before{
    content: "SEIRAN";
}
.profile .accordion_one:nth-of-type(3) .header_inner::before{
    content: "CAMMY";
}
.profile .accordion_one:nth-of-type(4) .header_inner::before{
    content: "ERIS";
}
.profile .accordion_one .open .header_inner::before,.profile .accordion_one .close .header_inner::before{
    transform-origin:left 75%;
    top: -21%;
}

.profile .accordion_one .header_inner::after{
    content: "よ";
    position: absolute;
    font-size: 5.2rem;
    right: 2%;
    bottom: 0%;
    white-space: nowrap;
}
.profile .accordion_one:nth-of-type(2) .header_inner::after{
    content: "ふ";
}
.profile .accordion_one:nth-of-type(3) .header_inner::after{
    content: "か";
}
.profile .accordion_one:nth-of-type(4) .header_inner::after{
    content: "し";
}

.profile .accordion_one .open .header_inner::after{
    content: "よづき";
    text-align: left;
    left: 2%;
}
.profile .accordion_one:nth-of-type(2) .open .header_inner::after{
    content: "ふちがみ";
}
.profile .accordion_one:nth-of-type(3) .open .header_inner::after{
    content: "かなたぼし";
    font-size: 4.55rem;
}
.profile .accordion_one:nth-of-type(4) .open .header_inner::after{
    content: "しどう";
}

.profile .accordion_one .open .inner_dsp::before{
    content: "";
    width: 125%;
    height: 125%;
    min-height: 250px;
    position: absolute;
    top:-15%;
    left:5%;
    background-image: url('./img/PC1_全身.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}
.profile .accordion_one:nth-of-type(2) .open .inner_dsp::before{
    background-image: url('./img/PC2_全身.png');
    width: 120%;
    height: 120%;
    top:-10%;
}
.profile .accordion_one:nth-of-type(3) .open .inner_dsp::before{
    background-image: url('./img/PC3_全身.png');
}
.profile .accordion_one:nth-of-type(4) .open .inner_dsp::before{
    background-image: url('./img/PC4_全身.png');
}

.profile .accordion_one .open .inner_dsp::after{
    content: "夜月 真夜";
    position: absolute;
    font-size: 6.5rem;
    writing-mode: vertical-rl;
    right: 2%;
    top: 0%;
    white-space: nowrap;
    text-shadow:#ffffff  0 0 0.5rem;
}
.profile .accordion_one:nth-of-type(2) .open .inner_dsp::after{
    content: "淵上 星嵐";
    font-size: 5.72rem;
}
.profile .accordion_one:nth-of-type(3) .open .inner_dsp::after{
    content: "彼方★キャミィ";
    font-size: 3.9rem;
    text-shadow:#2f2f2f  0 0 0.5rem;
}
.profile .accordion_one:nth-of-type(4) .open .inner_dsp::after{
    content: "獅堂 エリス";
    font-size: 4.55rem;
    text-shadow:#2f2f2f  0 0 0.5rem;
}


   .profile .accordion_one .accordion_inner {
    float: left;
    width: 47.5%;
    height: 50vh;
    min-height: 250px;
    overflow: hidden;
    display: none;
    padding: 0;
    position: relative;
    background-color: #8080809c;
    z-index: +1;
  }

  .profile .accordion_one .accordion_inner::before {
    content: "";
    width: 100%;
    height: 100%;
    min-height: 250px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.2;
    z-index: -1;
    background-image: url('./img/PC1_BU_グレー.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .profile .accordion_one:nth-of-type(2) .accordion_inner::before {
    background-image: url('./img/PC2_BU_グレー.png');
  }
  .profile .accordion_one:nth-of-type(3) .accordion_inner::before {
    background-image: url('./img/PC3_BU_グレー.png');
    background-position: center 40%;
  }
  .profile .accordion_one:nth-of-type(4) .accordion_inner::before {
    background-image: url('./img/PC4_BU_グレー.png');
    background-position: center 30%;
  }

   .profile .accordion_one .accordion_inner .box_one {
    padding: 2rem;
  }
   .profile .accordion_one .accordion_inner p.txt_a_ac {
    margin: 0;
  }
  .accordion_area table td{
    text-align: left;
    color: #ffffff;
  }

  .serifu{
    font-family: 'SerifuYou','MyFont';
    text-shadow:#ffffff  0 0 0.5rem !important;

    color: #db0f2f !important;
    font-size: 2.1rem;
  }
  .accordion_one:nth-of-type(2) .serifu{
    color: #9e21e7 !important;
  }
  .accordion_one:nth-of-type(3) .serifu{
    color: #12FF3A !important;
    text-shadow:#2f2f2f  0 0 0.5rem !important;
  }
  .accordion_one:nth-of-type(4) .serifu{
    color: #FFD400 !important;
    text-shadow:#2f2f2f  0 0 0.5rem !important;
  }

@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/    
    .profile .accordion_one .open .inner_dsp::before{
        background-image: url('./img/PC1_全身.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center left;
    }
    .profile .accordion_one .open .inner_dsp::after{
        font-size: 4.5rem;
    }

    .profile .accordion_one:nth-of-type(2) .open .inner_dsp::after{
        font-size: 4rem;
    }
    .profile .accordion_one:nth-of-type(3) .open .inner_dsp::after{
        font-size: 2.9rem;
    }
    .profile .accordion_one:nth-of-type(4) .open .inner_dsp::after{
        font-size: 3rem;
    }
    .profile .accordion_one .header_inner::before{
        font-size: 6rem;
        top: -22%;
    }

    .profile .accordion_one .header_inner::after{
        font-size: 4.5rem;
    }
    .profile .accordion_one:nth-of-type(3) .open .header_inner::after{
        font-size: 4rem;
    }


    .profile .accordion_one:nth-of-type(4) .accordion_header {
        background-position: left center;
    }
    .profile .accordion_one:nth-of-type(4) .accordion_header.close{
        background-position: 20%;
      }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    .profile .accordion_one{cursor: auto;}
    .profile .accordion_one .accordion_header {
        display: none;
      }
    .profile .accordion_one .accordion_inner {
        pointer-events: none;

        display: block;
        float: none;
        width: 100%;
        height: 70vh;
        min-height: 0;
        overflow: hidden;
        

        padding: 0;
        position: relative;
        background-color: #8080809c;
        z-index: +1;
      }

    .profile .accordion_area {
        width: 60vw;
        height: fit-content;
        min-height: 0;
        margin-top: 15vh;
        padding: 0;
        /* background-color: rgb(113, 113, 113); */
      }
      .profile .accordion_empty{
        width: 2%;
        height: 5vh;
        min-height: 0;
        float: none;
      }
      .profile .accordion_one .accordion_inner::before {
        content: "";
        width: 100%;
        height: 100%;
        min-height: 0;

        opacity: 1;

        background-image: url('./img/PC1_全身.png');
        background-size: contain;
      }
      .profile .accordion_one:nth-of-type(2) .accordion_inner::before {
        background-image: url('./img/PC2_全身.png');
      }
      .profile .accordion_one:nth-of-type(3) .accordion_inner::before {
        background-image: url('./img/PC3_全身.png');
      }
      .profile .accordion_one:nth-of-type(4) .accordion_inner::before {
        background-image: url('./img/PC4_全身.png');
      }

    .profile .accordion_one .accordion_inner::after {
        content: "夜月 真夜";
        position: absolute;
        font-size: 6.5rem;
        writing-mode: vertical-rl;
        right: 10%;
        top: 3%;
        white-space: nowrap;
        color: #db0f2f !important;
        text-shadow:#ffffff  0 0 0.5rem;
    }

    .profile .accordion_one:nth-of-type(2) .accordion_inner::after{
        content: "淵上 星嵐";
        color: #9e21e7 !important;
    }
    .profile .accordion_one:nth-of-type(3) .accordion_inner::after{
        content: "彼方★キャミィ";
        font-size: 4.5rem;
        text-shadow:#2f2f2f  0 0 0.5rem;
        right: 12%;
        color: #12FF3A !important;
    }
    .profile .accordion_one:nth-of-type(4) .accordion_inner::after{
        content: "獅堂 エリス";
        font-size: 5rem;
        text-shadow:#2f2f2f  0 0 0.5rem;
        color: #FFD400 !important;
    }
    .profile .accordion_one .accordion_inner .box_one {
        padding: 30vh 2rem 2rem;;
    }
    .accordion_area table td{
        text-shadow:#2f2f2f  0 0 0.5rem;
    }
}
@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
}

/* 02:ニューリリース */
.area-newrelease {
    width: 60vw;
    height: 55vh;
    gap: 2em;
    display: flex;
    margin-top: 8%;
}

p.album{
    margin-top: 27.5rem;
    width: 30%;
    font-size: 1.6rem;
    text-align: start;
    color: #fff;
}
p.album::before {
    content:'';
    position:absolute;
    margin-top: -25.5rem;
    width: 25rem;
    height: 25rem;
}
p.album:nth-of-type(1)::before{
    background-image: url("./img/アルバムジャケ_夜深.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
p.album:nth-of-type(2)::before{
    background: url("./img/アルバムジャケ_BM.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
p.album:nth-of-type(3)::before{
    background-image: url("./img/アルバムジャケ_よふかし！.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .area-newrelease {
        gap: 1rem;
    }
    p.album{
        margin-top: 22.5rem;
        width: 17rem;
        font-size: 1.6rem;
        text-align: start;
        color: #fff;
    }
    p.album::before {
        content:'';
        position:absolute;
        margin-top: -17.5rem;
        width: 17rem;
        height: 17rem;
    }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    .area-newrelease {
        width: 60%;
        height: 80%;
        display: block;
        margin: 10% 0;
        padding-top: 20%;
    }
    p.album{
        margin-top: 32rem;
        width: 80%;
        font-size: 1.6rem;
        text-align: start;
        color: #fff;
    }
    p.album::before {
        content:'';
        position:absolute;
        margin-top: -30.5rem;
        width: 30rem;
        height: 30rem;
    }
}
@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
    p.album{
        margin-top: 27rem;
        width: 80%;
        font-size: 1.6rem;
        text-align: start;
        color: #fff;
    }
    p.album::before {
        content:'';
        position:absolute;
        margin-top: -25.5rem;
        width: 25rem;
        height: 25rem;
    }
}


/* 03:トレーラー */
.area-trailer {
    width: 70%;
    height: 70%;
    color: #fff;
    /* 文字色はここで変更 */
    font-size: 2.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.9;
    text-align: start;
    margin: 10% 0;
    padding-top: 10%;
}
.area-trailer hr{
    width: 85%;
}
@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .area-trailer {
        width: 80%;
        height: 60%;
        font-size: 1.9rem;
    }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    .area-trailer {
        width: 70%;
        height: 60%;
        font-size: 2rem;
        margin: 20% 0;
    }
}
@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
}


/* 04:ライブビデオ */
#log_link{
    text-decoration: none;
}
#log_link:hover {
    opacity: .8;
}
#log_link div{
    margin: 0 auto;
    width: 60rem;
    height: 30rem;

    /* 中身の要素を中央に */
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("./img/アイドル暗部ロゴ.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: #000000;
}
#log_link i{
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20rem;
}

@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    #log_link div{
        width: 45rem;
        height: 22.5rem;
    }
    #log_link i{
        font-size: 12rem;
    }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    #log_link div{
        width: 32rem;
        height: 18rem;
    }
    #log_link i{
        font-size: 9rem;
    }
}
@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
    #log_link div{
        width: 30rem;
        height: 16rem;
    }
    #log_link i{
        font-size: 7rem;
    }
}

/* フッター */
footer {
    color: #808080;
    background: #e5e5e5;
    padding: 3rem;
    scroll-snap-align: end;
    font-size: 1.6rem;
}

footer a {
    color: #808080;
    text-decoration: none;
}

footer li a:hover {
    text-decoration: underline;
}

footer .wrap {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;


    /* 中身の要素を中央に */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .wrap .stamp {
    margin: 0 0 1rem 0;
    padding: 2rem 0;
    border-bottom: 0.1rem #c4c4c4 solid;
    width: 50vw;
    height: 50vh;
    background-image: url("./img/LINEスタンプ.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

footer .wrap p {
    margin: 0;
    padding: 0 0 2rem 0;
}

footer .wrap .box:first-child {
    width: 95%;
}

footer .wrap .box ul {
    margin: 0;
    padding: 0 0 2rem 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
footer .wrap .box li {
    margin: 0;
    padding: 0 1rem 0 1rem;
}

footer .wrap .copyright {
    width: 100%;
    margin: 0;
    padding: 2rem 0 0 0;
    font-size: 1rem;
}
footer .wrap .box li+ li {
    border-left: 0.1rem #c4c4c4 solid;
  }

@media screen and (max-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    footer .wrap .stamp {
        width: 56rem;

    }
    footer .wrap {
        box-sizing:content-box;
        justify-content: none;
        align-items: none;
    }
}
@media screen and (max-width:600px) {
    /*　画面サイズが600pxからはここを読み込む　*/
    footer .wrap .stamp {
        padding: none;
        width: 80vw;
        height: 25rem;
        border-bottom: none;
    }
    footer .wrap {
        width: 100%;
        padding: 0;
    }

    footer .wrap h3 {
        border: none;
    }

    footer .wrap .box ul {
        display: block;
        flex-wrap: nowrap;
        border-top: 0.1rem #c4c4c4 solid;
    }

    footer .wrap .box ul li a {
        display: block;
        padding: 0.5rem 0;
        border-bottom: 0.1rem #c4c4c4 solid;
    }
    footer .wrap .copyright {
        width: 90%;
    }
    footer .wrap .box li+ li {
        border-left: none;
      }
}

@media screen and (max-width:375px) {
    /*　画面サイズが375pxからはここを読み込む　*/
}